<form class="rk-form" method="post" action="/_lead" data-form="{{s.tipo}}">
  {{> formulario-campos}}
  <button class="rk-btn rk-btn--bloco rk-form__enviar" type="submit"><span data-k="contato.botao">{{c.contato.botao}}</span></button>
</form>
