<div class="rk-wrap">
  <ul class="num-faixa" data-li="num">
    {{#c.num.itens}}
    <li class="num-item" data-it="{{id}}">
      <span class="rk-fantasma num-fantasma" aria-hidden="true">0{{i}}</span>
      <strong class="num-v" data-k="{{k}}.v">{{v}}</strong>
      <span class="num-l" data-k="{{k}}.l">{{l}}</span>
    </li>
    {{/c.num.itens}}
  </ul>
</div>
