<div class="rk-fundo num-fundo" data-img="num.img" data-fundo>{{{c.num.img.html}}}</div>
<div class="rk-wrap">
  <ul class="num-faixa" data-li="num">
    {{#c.num.itens}}
    <li class="num-item" data-it="{{id}}"><strong class="num-v" data-k="{{k}}.v">{{v}}</strong><span class="num-l" data-k="{{k}}.l">{{l}}</span></li>
    {{/c.num.itens}}
  </ul>
</div>
