<div class="rk-wrap cli-faixa">
  <h2 class="cli-titulo" data-k="cli.titulo">{{c.cli.titulo}}</h2>
  <ul class="cli-lista cli-q{{c.cli.qtd}}" data-li="cli">
    {{#c.cli.itens}}
    <li class="cli-item" data-it="{{id}}"><span class="cli-nome" data-k="{{k}}.t">{{t}}</span></li>
    {{/c.cli.itens}}
  </ul>
</div>
